*.DS_Store
*.log
*.o
*.s?p
*.fes
*.sol
*.vscode/
*_modes.txt
*.vtk
*.vtp
*build/
dep/
matrix_WR90.txt
cpp/*
!cpp/CMakeLists.txt
!cpp/include/
!cpp/include/**
!cpp/src/
!cpp/src/**
*.png
*.jpg
tools/__pycache__/
__pycache__/
