*.DS_Store
*.log
*.o
*.s?p
*.fes
*.sol
*.vscode/
*_modes.txt
*.vtk
*.vtp
*build/
dep/
matrix_WR90.txt
core/*
!core/CMakeLists.txt
!core/include/
!core/include/**
!core/src/
!core/src/**
*.png
*.jpg
tools/__pycache__/
__pycache__/
